body, html, .jumbotron-full-height {
	height: 100%;
	margin-bottom: 0;
}

body.fixed-menu {
	padding-top: 50px;
}

@media screen and (max-height: 400px) {
	.jumbotron-full-height {
		height: 300px;
	}
}

@media screen and (min-width: 320px) {
	.jumbotron-full-height {
		height: 200px;
	}
}

@media screen and (min-width: 500px) {
	.jumbotron-full-height {
		height: 300px;
	}
}

@media screen and (min-width: 700px) {
	.jumbotron-full-height {
		height: 400px;
	}
}

@media screen and (min-width: 900px) {
	.jumbotron-full-height {
		height: 500px;
	}
}


@media screen and (min-width: 901px) {
	.jumbotron-full-height {
		height: 100%;
	}
}

#header {
	z-index: 4;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFF;
	background: rgba(255, 255, 255, 0.9);
	background: linear-gradient(top, #FFF, rgba(255, 255, 255, 0.9));
	background: -webkit-linear-gradient(top, #FFF, rgba(255, 255, 255, 0.9));
	background: -moz-linear-gradient(top, #FFF, rgba(255, 255, 255, 0.9));
	background: -o-linear-gradient(top, #FFF, rgba(255, 255, 255, 0.9));
	background: -ms-linear-gradient(top, #FFF, rgba(255, 255, 255, 0.9));
}

.navbar-default {
	background-color: transparent;
	border: 0;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	padding: 5px;
}

.jumbotron-full-height {
	max-height: 800px;
	position: relative;
}

.jumbotron-full-height h1, .jumbotron-full-height p {
	text-align: center;
	z-index: 1;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #000;
	text-shadow: 1px 1px 0px #fff;
}

.jumbotron-full-height.light h1, .jumbotron-full-height.light p {
	color: #fff;
	text-shadow: 0px 0px 15px #555;
}

.jumbotron-full-height .img-responsive {
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.marketing {
	margin-top: 30px;
	margin-bottom: 30px;
}
